h1{
    color:green;
    text-align: center;
}
img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form{
  text-align: center;
}

 h2{
     color: red;
     text-align: center;
    }
html,body{
   width: 100%;
   height: 100%;
    text-align: center;
    background-color:black;
 }
 #titlescreen{
    
        position: absolute;
        top: 0px;
        left: 0px;
        z-index:100;
        width: 100%;
        height: 100%;
    }
#selectionscreen{
    z-index:99;
}

 canvas{
    width: 100%;
    height: 100%;
}

 
  






